body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.parent{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
}

.A{
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  }

.B:first-child{
  margin: 0;
}

.B {
  background-color:#a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 0 0 10px;
  }

.B:last-child{
  margin: 0 0 0 10px;
}

.main-left {
  width: 150px;
  height: 250px;
  float: left;
  background-color: #00ff51;
}

.main-right {
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}

.C{
  position: absolute;
  top: 40px;
  left: 40px;
}
.D:first-child {
margin-bottom: 10px;
}

.D{
  background-color: #ff863f;
  width: 150px;
  height: 50px;
  border: 5px solid #fff;
  margin: 0 0 10px 0;
  }

  .D:last-child {
    margin-top: 10px;
  }
.footer {
  height: 100px;
  background-color: #ffd000;
  width: 400px;
}