body{
  margin: 0;
  display: block;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.parent{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
}

.boxs0{
  background-color: #fff;
  padding: 30px 80px;
  position: absolute;
  top: 20px;
  right: 20px;
  }

.boxs:first-child{
  margin: 30px 10px;
}

.boxs {
  background-color:#a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin: 30px 0;
  transform: translate(220px);
  }

.boxs:last-child{
  margin: 30px 10px;
}

.main-left {
  width: 150px;
  height: 250px;
  float: left;
  background-color: #00ff51;
  position: relative;
}

.main-right {
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}


.child:first-child {
  margin: 10px 0;
}

.child {
  background-color: #ff863f;
  width: 150px;
  height: 50px;
  border:5px solid #FFFFFF ;
  transform:translate(40px,30px);
  }

.child:last-child{
  margin: 10px 0px;
}

.footer {
  height: 100px;
  background-color: #ffd000;
  width: 400px;
  clear: both;
}