body{
  margin: 0;
  display: block;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.parent{
  width: 400px;
  height: 100px;
  background-color: #ff0000;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 220px;
}

.boxs0{
  width: 160px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  padding: 0;
  }

.boxs:first-child {
  background-color:#a9004b;
  width: 40px;
  height: 40px;
  position: absolute;
  float: left;
  margin: 10px 10px 10px 10px;
}

.boxs{
  background-color:#a9004b;
  width: 40px;
  height: 40px;
  position: absolute;
  float: left;
  margin: 10px 10px 10px 60px;
}

.boxs:last-child{
  background-color:#a9004b;
  width: 40px;
  height: 40px;
  position: absolute;
  float: left;
  margin: 10px 10px 10px 110px;
}

.main-left {
  width: 150px;
  height: 250px;
  float: left;
  background-color: #00ff51;
  position: relative;
}

.main-right {
  height: 250px;
  width: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}

.box:first-child{
  background-color: #ff863f;
  width: 150px;
  height: 50px;
  position: relative;
  padding: 0;
  border:5px solid #FFFFFF ;
}

.box{
  background-color: #ff863f;
  width: 150px;
  height: 50px;
  position: relative;
  margin: 40px -30px -30px 40px;
  padding: 0;
  border: 5px solid #FFFFFF ;
}

.box:last-child{
  background-color: #ff863f;
  position: relative;
  width: 150px;
  height: 50px;
  padding: 0;
  border: 5px solid #FFFFFF ;
}
.footer {
  height: 100px;
  background-color: #ffd000;
  width: 400px;
  clear: both;
}